DATABASE_URL=mysql+pymysql://user:password@127.0.0.1:3306/winddb?charset=utf8mb4
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_DATABASE=winddb
AITRADER_WEB_HOST=0.0.0.0
AITRADER_WEB_PORT=8000
AITRADER_LOG_LEVEL=INFO
